<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
    <servlet>
    	<servlet-name>Cardinsert</servlet-name>
    	<servlet-class>com.servelet.Cardinsert</servlet-class>
    </servlet>  
    <servlet-mapping>
    <servlet-name>Cardinsert</servlet-name>
    <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>Feedback</servlet-name>
    	<servlet-class>com.servelet.Feedback</servlet-class>
    </servlet>  
    <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/FeedbackInsert</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>UpdateFeedback</servlet-name>
    	<servlet-class>com.servelet.UpdateFeedback</servlet-class>
    </servlet>  
    <servlet-mapping>
    <servlet-name>UpdateFeedback</servlet-name>
    <url-pattern>/FeedbackUpdate</url-pattern>
    </servlet-mapping>
    
	<servlet>
    	<servlet-name>DeleteFeedback</servlet-name>
    	<servlet-class>com.servelet.DeleteFeedback</servlet-class>
    </servlet>  
    <servlet-mapping>
    <servlet-name>DeleteFeedback</servlet-name>
    <url-pattern>/FeedbackDelete</url-pattern>
    </servlet-mapping>
 
      
</web-app>